# API URL
VITE_APP_API_URL=''

# Google OAuth
# Google Client ID and Secret can be found at https://console.cloud.google.com/apis/credentials
# Enable the Google+ API and create OAuth 2.0 credentials for a Web Application
# Set the Authorized redirect URIs to http://localhost:8000/auth/oauth/google
VITE_GOOGLE_CLIENT_ID=''
VITE_GOOGLE_REDIRECT_URI=''

# Preview Mode Configuration
# This variable is OPTIONAL and only needed when deploying to custom servers like VPS to specify the list of hosts allowed to access preview mode.
# If you deploy to hosting platforms like Vercel, Render, etc., you can skip this variable as those platforms automatically handle host security issues.
VITE_PREVIEW_ALLOWED_HOSTS=''
